version: "3"
services:
  nginx:
    container_name: nginx
    build: ./config/nginx
    ports:
      - "80:80"
    volumes:
      - ./config/nginx:/etc/nginx.conf.d
    depends_on:
      - web

  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: gunicorn drinking_pleasure.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000"
